apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:            # Lables for the replicaset
    app: nginx
spec:                     # Below of spec is for pods, above the spec is for replicaset
  replicas: 3
  selector:
    matchLabels:      # This defines whatever the pods that have "app:nginx can go & attach to the set of services having the similar label"
      app: nginx
  template:
    metadata:
      labels:        # Lables for the pods created by the replicaset
        app: nginx
    spec:
      containers:
      - name: nginx
        image: docker.io/nginx:perl
#        image: docker.io/nginx:otel # Uncomment this line & comment above line to use otel image & check the deployment        
        ports:
        - containerPort: 80


# kubectl get deployments         ----> To see all deployments in the default namespace
# kubectl describe deployment nginx-deployment  ----> To describe a particular deployment

# This type of deployment called as ROLLING update DEPLOYMENT which is default deployment strategy in kubernetes.

# pod v1 ---> pod v2
# pod v1 ---> pod v2
# pod v1 ---> pod v2
# It happens one by one within fractions of seconds, so that there is no downtime for the application.